.footer li {
    margin: 0.5rem 0.2rem;
 }
 button {
    user-select: none;
 }
 input, textarea {
   background-color: #c6c1c1;
   padding: 0.5rem;
   border-radius: 0.2rem;
   margin-bottom: 2rem;
   color: #393636;
   font-weight: 600;
   
 }
 label {
   margin-bottom: 0.3rem;
   font-size: 1rem;
   font-weight: bold; 
   color: rgb(78, 77, 77);
 }